/*=====================================================
  contents of: reset.css
  =====================================================*/
/* v1.0 | 20080212 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=====================================================
  contents of: docs.css
  =====================================================*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  font-weight: 300;
  height: 100%;
}
#page {
  padding-top: 128px;
  height: 100%;
}
header {
  background-color: #303030;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 999;
  padding: 10px 28px;
}
header h1 a {
  text-indent: -9999px;
  display: block;
  width: 216px;
  height: 35px;
  background-image: url('../images/160910_WT_Logo_Support.png');
  background-size: cover;
  margin-top: 5px;
}
#page-tabs {
  background-color: #f0f0f0;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 20px 30px;
  z-index: 998;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
#page-tabs .nav-link a {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.005em;
  margin-right: 30px;
  text-decoration: none;
  color: #000;
}
#page-tabs .nav-url {
  position: absolute;
  right: 30px;
  top: 21px;
}
#page-tabs .nav-url a {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.005em;
  margin: 6px 0;
  text-decoration: none;
  color: #000;
}
#page-tabs .nav-link a:hover,
#page-tabs .nav-link a.active,
#page-tabs .nav-url a:hover {
  color: #ff8c0a;
}
@media screen and (max-width: 500px) {
  #page-tabs .nav-link a {
    margin-right: 20px;
    font-size: 16px;
  }
  #page-tabs .nav-url {
    display: none;
  }
}
#sidebar {
  float: left;
  width: 340px;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: scroll;
  padding: 150px 30px 70px;
  background-color: #f0f0f0;
  z-index: 2;
}
#sidebar #sidebarHeader {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
}
#sidebar #sidebarHeader select {
  font-family: 'Lato', sans-serif;
  width: 100%;
  text-indent: -9999px;
  position: relative;
  z-index: 2;
  background: transparent url(../images/ic_menu_grey.svg) no-repeat right center;
}
#sidebar #sidebarHeader select:hover {
  cursor: pointer;
}
#sidebar #sidebarHeader h2 {
  font-size: 20px;
  margin-top: -28px;
  padding-right: 32px;
}
#sidebar #sidebarHeader #version {
  font-size: 14px;
  float: left;
  margin-right: 4px;
}
#sidebar #sidebarHeader #api-type {
  font-size: 14px;
}
#sidebar #sidebarHeader #api-type::before {
  content: '|';
  margin-right: 4px;
}
#sidebar #sidebarHeader #deprecatedNote {
  font-size: 14px;
  line-height: 1.4em;
  margin-top: 8px;
  color: #ff8c0a;
}
#sidebar #sidebarHeader #deprecatedNote a {
  color: #ff8c0a;
  text-decoration: none;
  font-weight: 400;
}
#sidebar #sidebarHeader #deprecatedNote a:hover {
  color: #000;
  text-decoration: none;
}
#sidebar input#search {
  font-family: 'Lato', sans-serif;
  border: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 300;
  padding: 6px 34px 6px 10px;
  width: 100%;
  height: 30px;
  background: #fff url('../images/ic_search_grey.svg') no-repeat right 4px center;
  background-size: 24px;
}
#sidebar #toc li {
  font-size: 14px;
  margin: 15px 0px;
  text-transform: uppercase;
  position: relative;
}
#sidebar #toc li .easytree-active .easytree-title a {
  color: #ff8c0a;
}
#sidebar #toc li a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  white-space: normal;
  padding-left: 25px;
}
#sidebar #toc li a:hover {
  color: #ff8c0a;
  text-decoration: none;
}
#sidebar #toc li.active a {
  color: #ff8c0a;
}
#sidebar #toc > ul > li {
  font-weight: 700;
  margin-bottom: 10px;
}
#sidebar #toc > ul > li li {
  margin: 5px 0px 5px 21px;
  text-transform: initial;
  font-weight: 400;
}
#sidebar #toc > ul > li li .easytree-active a {
  color: #ff8c0a;
}
#sidebar #toc > ul > li li a {
  color: #000;
  text-decoration: none;
}
#sidebar #toc > ul > li li a:hover {
  color: #ff8c0a;
  text-decoration: none;
}
#sidebar #toc > ul > li li li {
  font-weight: 400;
}
select {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  padding: 6px 10px;
  outline: 0;
  width: 165px;
  height: 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #f0f0f0 url(../images/ic_chevron_right_grey.svg) no-repeat right 5px center;
  background-size: 24px;
}
.easytree-expander {
  background-image: url('../images/ic_chevron_right_grey.svg') !important;
  background-position: center center !important;
  position: absolute;
  top: 4px;
}
.easytree-exp-e span.easytree-expander {
  background-image: url('../images/ic_expand_more_grey.svg') !important;
  background-position: center center !important;
}
.easytree-exp-n span.easytree-expander,
.easytree-exp-nl span.easytree-expander {
  display: none;
}
.easytree-exp-n span.easytree-title::before,
.easytree-exp-nl span.easytree-title::before {
  content: '—';
  position: absolute;
  left: 3px;
  color: #707070;
}
.toggleNav,
.showNavLbl,
.hideNavLbl {
  display: none;
}
#wrapper {
  padding-left: 340px;
  position: relative;
  min-height: 100%;
}
#wrapper-no-sidebar {
  position: relative;
  min-height: 100%;
}
#content {
  color: #303030;
  font-weight: 300;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 45px 80px;
}
#content h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3em;
  color: #000;
  margin: -158px 0 25px 0;
  padding-top: 158px;
}
#content h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3em;
  margin: -143px 0 15px;
  color: #000;
  padding-top: 168px;
}
#content h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
  margin: -143px 0 15px;
  color: #000;
  padding: 168px 0 15px;
  border-bottom: 1px solid #dcdcdc;
}
#content h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0 7px 0;
  color: #000;
}
#content h4 a {
  font-weight: 700;
}
#content p {
  margin: 15px 0;
}
#content h4 + p {
  margin: 0 0 15px;
}
#content a {
  color: #303030;
  font-weight: 400;
}
#content a:hover {
  color: #ff8c0a;
}
#content a[name] {
  padding-top: 90px;
  margin-top: -90px;
  display: table-caption;
}
#content ul,
#content ol {
  list-style: disc;
  margin: 0px 0 15px 30px;
}
#content ul li,
#content ol li {
  margin: 5px 0;
}
#content ol {
  list-style: decimal;
}
#content .intro {
  font-size: 22px;
  line-height: 1.4em;
}
#content .bigNumbers p {
  margin-left: 40px !important;
}
#content .bigNumbers h4 {
  margin: 15px 0 0 !important;
}
#content .number {
  font-size: 52px;
  font-weight: 700;
  float: left;
  margin-right: 10px !important;
  color: #dcdcdc;
  line-height: 0.9em;
}
#content pre {
  margin: 15px 0;
}
#content code {
  overflow: auto;
}
#content code span {
  white-space: normal;
}
#content .note {
  background: #f0f0f0;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 20px 0;
}
#content .githubnote {
  background: #f0f0f0;
  padding: 10px;
  margin: -15px 0 20px 0;
  border-top: dashed 1px #bbb;
}
#content .warning {
  background: #ff8c0a;
  padding: 10px;
  margin: 20px 0;
  color: #fff;
}
#content .warning a {
  color: #fff !important;
}
#content .warning a:hover {
  color: #303030 !important;
}
#content .tip {
  border: 2px solid #ff8c0a;
  padding: 10px;
  margin: 20px 0;
}
#content .hljs {
  padding: 10px !important;
}
#content figure.image {
  margin: 0;
  text-align: center;
}
#content img {
  max-width: 100%;
}
#content img .inline {
  margin-left: 15px;
  float: right;
}
#content img.inline {
  max-width: 100%;
  margin-left: 15px;
  float: right;
}
#content figcaption {
  font-style: italic;
}
#content table {
  width: 100%;
  margin: 20px auto;
}
#content table th {
  color: #555;
  background: #efefef;
  padding: 4px 10px;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
}
#content table th:first-child {
  border-left: 0;
}
#content table td {
  padding: 4px 10px;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
}
#content table td:first-child {
  border-left: 0;
}
#content table .supported {
  background-color: #A3FF85;
}
#content table .not-supported {
  background-color: #fdeeee;
}
#content .image_gallery {
  width: 18%;
}
#content .breadcrumb {
  position: relative;
  top: 6px;
  height: 22px;
}
#content .supported-devices-table {
  border: 1px solid #bbb;
}
#content .supported-devices-table th {
  height: 40px;
  vertical-align: middle;
}
#content .supported-devices-table th:nth-child(2) {
  width: 32%;
}
#content .supported-devices-table .table-mobile-subheader {
  display: none;
  text-align: center;
  height: 40px;
  background: #dcdcdc;
}
#content .supported-devices-table .table-mobile-subheader td {
  vertical-align: middle;
}
#content .supported-devices-table .table-mobile-subheader td h4 {
  margin: 0;
}
#content .supported-devices-table .table-vertical-subheader {
  position: relative;
  width: 40px;
  padding: 0;
  background: #dcdcdc;
  height: 100px;
}
#content .supported-devices-table .table-vertical-subheader h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  width: 215px;
}
#footer {
  font-size: 14px;
  color: #000;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 30px;
  background: #f0f0f0;
  border-top: 1px solid #dcdcdc;
  text-align: center;
  z-index: 3;
}
#footer a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
#footer a:hover {
  text-decoration: none;
  color: #ff8c0a;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-input-placeholder {
  color: #707070;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #707070;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #707070;
}
:-ms-input-placeholder {
  color: #707070;
}
.rotate {
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  -o-transform: rtranslateX(-50%) translateY(-50%) otate(-90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
@media screen and (max-width: 1100px) {
  #content .supported-devices-table th {
    width: 33.33%;
  }
  #content .supported-devices-table .table-mobile-subheader {
    display: table-row;
  }
  #content .supported-devices-table .table-vertical-subheader {
    display: none;
  }
  #content .supported-devices-table .hide-on-mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #sidebar {
    float: none;
    width: 100%;
    position: relative;
    height: auto;
    overflow: inherit;
    padding: 30px 30px;
  }
  .showNavLbl,
  .hideNavLbl {
    cursor: pointer;
    padding: 5px 15px 5px 32px;
    color: #fff;
    font-weight: 400;
  }
  .showNavLbl {
    display: block;
    background: #bebebe url('../images/ic_expand_more_white.svg') no-repeat 5px center;
  }
  .hideNavLbl {
    display: none;
    background: #bebebe url('../images/ic_expand_less_white.svg') no-repeat 5px center;
  }
  .toggleNav {
    display: none;
  }
  #mainnav {
    display: none;
    margin-top: 20px;
  }
  .toggleNav:checked ~ #mainnav {
    display: block;
  }
  .toggleNav:checked ~ .showNavLbl {
    display: none;
  }
  .toggleNav:checked ~ .hideNavLbl {
    display: block;
  }
  #wrapper {
    padding-left: 0;
  }
  #content {
    padding: 30px 30px 80px;
  }
}
#overview .slim-hero-container {
  width: 100%;
  height: 370px;
  clear: both;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -50px;
}
#overview .slim-hero-container.docu {
  background-image: url(www.wikitude.com/wp-content/uploads/2015/07/150727_WT_Web_HG_Documentation.jpg);
}
#overview .slim-hero-container .container {
  padding: 50px 30px;
}
#overview h1 {
  font-size: 32px;
  margin-bottom: 1em;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: bold;
  line-height: 1.2em;
}
#overview h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 0.875em 0;
}
#overview p {
  font-size: 100%;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}
#overview .intro {
  font-size: 22px;
  line-height: 1.4em;
}
#overview .row {
  margin: 0 0 0 -50px;
  overflow: hidden;
}
#overview .row > * {
  float: left;
  padding: 0 0 0 50px;
}
#overview .\33 u {
  width: 25%;
  clear: none;
  margin-left: 0;
}
#overview .\36 u {
  width: 50%;
  clear: none;
  margin-left: 0;
}
@media screen and (max-width: 1280px) {
  #overview .row {
    margin: 0 0 0 -40px;
  }
  #overview .row > * {
    padding: 0 0 0 40px;
  }
}
@media screen and (max-width: 1080px) {
  #overview .slim-hero-container {
    height: 300px;
  }
  #overview h1,
  #overview h2 {
    font-size: 28px;
    margin-bottom: 0.6em;
  }
  #overview .intro {
    font-size: 20px;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 736px) {
  #overview .slim-hero-container {
    height: auto;
    background-position: center top;
    background-size: auto 210px;
    padding-top: 220px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 0;
    background-repeat: no-repeat;
  }
  #overview .fn-736 {
    float: none;
    width: 100%;
    margin-bottom: 15px;
    display: block;
    clear: both;
  }
  #overview .slim-hero-container .container {
    padding: 0 30px;
  }
  #overview .container {
    padding: 50px 30px;
  }
}
#overview .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 30px;
}
#overview .card-docu,
#overview .card-docu-overlay,
#overview .card-docu-link,
#overview .card-docu-link a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#overview .card-docu {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: 15px;
  height: 70px;
  padding-right: 15px;
  font-size: 14px;
}
#overview .card-docu div {
  display: table-cell;
  vertical-align: middle;
}
#overview .card-docu-thumbnail {
  height: 70px;
  text-align: center;
  padding: 0 15px;
  width: 80px;
}
#overview .card-docu-thumbnail img {
  max-width: 50px;
  vertical-align: middle;
}
#overview .w40 {
  width: 40px;
}
#overview .card-docu-overlay {
  background: rgba(255, 140, 10, 0.9);
  padding: 25px;
  color: #fff;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 700;
}
#overview .card-docu-overlay,
#overview .card-docu-link {
  position: absolute;
  transform: translateY(110%);
  transition: all 0.3s ease-in-out;
}
#overview .card-docu:hover .card-docu-overlay,
#overview .card-docu:hover .card-docu-link {
  display: block;
  bottom: 0;
  left: 0;
  transform: translateY(0px);
}
@media screen and (max-width: 930px) {
  #overview .\36 u-930 {
    width: 50%;
    clear: none;
    margin-left: 0;
  }
  #overview .mb40-930 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  #overview .fn-480 {
    float: none;
    width: 100%;
  }
}

/*=====================================================
  contents of: default.min.css
  =====================================================*/
.hljs{display:block;overflow-x:auto;padding:0.5em;background:#F0F0F0}.hljs,.hljs-subst{color:#444}.hljs-comment{color:#888888}.hljs-keyword,.hljs-attribute,.hljs-selector-tag,.hljs-meta-keyword,.hljs-doctag,.hljs-name{font-weight:bold}.hljs-type,.hljs-string,.hljs-number,.hljs-selector-id,.hljs-selector-class,.hljs-quote,.hljs-template-tag,.hljs-deletion{color:#880000}.hljs-title,.hljs-section{color:#880000;font-weight:bold}.hljs-regexp,.hljs-symbol,.hljs-variable,.hljs-template-variable,.hljs-link,.hljs-selector-attr,.hljs-selector-pseudo{color:#BC6060}.hljs-literal{color:#78A960}.hljs-built_in,.hljs-bullet,.hljs-code,.hljs-addition{color:#397300}.hljs-meta{color:#1f7199}.hljs-meta-string{color:#4d99bf}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
/*=====================================================
  contents of: lightbox.min-0.5.1.css
  =====================================================*/
.jslghtbx-ie8.jslghtbx{background-image:url(../img/trans-bck.png);display:none}.jslghtbx-ie8.jslghtbx.jslghtbx-active{display:block}.jslghtbx-ie8.jslghtbx .jslghtbx-contentwrapper>img{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";display:block}.jslghtbx-ie8.jslghtbx .jslghtbx-contentwrapper.jslghtbx-wrapper-active>img{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}.jslghtbx{font-family:sans-serif;overflow:auto;visibility:hidden;position:fixed;z-index:2;left:0;top:0;width:100%;height:100%;background-color:transparent}.jslghtbx.jslghtbx-active{visibility:visible;background-color:rgba(0,0,0,.85)}.jslghtbx-loading-animation{margin-top:-60px;margin-left:-60px;width:120px;height:120px;top:50%;left:50%;display:none;position:absolute;z-index:-1}.jslghtbx-loading-animation>span{display:inline-block;width:20px;height:20px;border-radius:20px;margin:5px;background-color:#fff;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out}.jslghtbx-loading-animation>span.jslghtbx-active{margin-bottom:60px}.jslghtbx.jslghtbx-loading .jslghtbx-loading-animation{display:block}.jslghtbx-nooverflow{overflow:hidden!important}.jslghtbx-contentwrapper{margin:auto;visibility:hidden}.jslghtbx-contentwrapper>img{background:#fff;padding:.5em;display:none;height:auto;margin-left:auto;margin-right:auto;opacity:0}.jslghtbx-contentwrapper.jslghtbx-wrapper-active{visibility:visible}.jslghtbx-contentwrapper.jslghtbx-wrapper-active>img{display:block;opacity:1}.jslghtbx-caption{display:none;margin:5px auto;max-width:450px;color:#fff;text-align:center;font-size:.9em}.jslghtbx-active .jslghtbx-caption{display:block}.jslghtbx-contentwrapper.jslghtbx-animate>img{opacity:0}.jslghtbx-contentwrapper>img.jslghtbx-animate-transition{-webkit-transition:opacity .2s ease-in-out;-moz-transition:opacity .2s ease-in-out;-o-transition:opacity .2s ease-in-out;-ms-transition:opacity .2s ease-in-out}.jslghtbx-contentwrapper>img.jslghtbx-animate-init,.jslghtbx-contentwrapper>img.jslghtbx-animating-next,.jslghtbx-contentwrapper>img.jslghtbx-animating-prev{opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}.jslghtbx-contentwrapper>img.jslghtbx-animate-transition{cursor:pointer}.jslghtbx-close{position:fixed;right:23px;top:23px;margin-top:-4px;font-size:2em;color:#FFF;cursor:pointer;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out}.jslghtbx-close:hover{text-shadow:0 0 10px #fff}@media screen and (max-width:1060px){.jslghtbx-close{font-size:1.5em}}.jslghtbx-next,.jslghtbx-prev{display:none;position:fixed;top:50%;max-width:6%;max-height:250px;cursor:pointer;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out}.jslghtbx-next.jslghtbx-active,.jslghtbx-prev.jslghtbx-active{display:block}.jslghtbx-next>img,.jslghtbx-prev>img{width:100%}.jslghtbx-next{right:.6em}.jslghtbx-next.jslghtbx-no-img:hover{border-left-color:#787878}@media screen and (min-width:451px){.jslghtbx-next{right:.6em}.jslghtbx-next.jslghtbx-no-img{border-top:110px solid transparent;border-bottom:110px solid transparent;border-left:40px solid #FFF}}@media screen and (max-width:600px){.jslghtbx-next.jslghtbx-no-img{right:5px;padding-left:0;border-top:60px solid transparent;border-bottom:60px solid transparent;border-left:15px solid #FFF}}@media screen and (max-width:450px){.jslghtbx-next{right:.2em;padding-left:20px}}.jslghtbx-prev{left:.6em}.jslghtbx-prev.jslghtbx-no-img:hover{border-right-color:#787878}@media screen and (min-width:451px){.jslghtbx-prev{left:.6em}.jslghtbx-prev.jslghtbx-no-img{border-top:110px solid transparent;border-bottom:110px solid transparent;border-right:40px solid #FFF}}@media screen and (max-width:600px){.jslghtbx-prev.jslghtbx-no-img{left:5px;padding-right:0;border-top:60px solid transparent;border-bottom:60px solid transparent;border-right:15px solid #FFF}}@media screen and (max-width:450px){.jslghtbx-prev{left:.2em;padding-right:20px}}.jslghtbx-thmb{padding:2px;max-width:100%;max-height:140px;cursor:pointer;box-shadow:0 0 3px 0 #000;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out}@media screen and (min-width:451px){.jslghtbx-thmb{margin:1em}}@media screen and (max-width:450px){.jslghtbx-thmb{margin:1em 0}}.jslghtbx-thmb:hover{box-shadow:0 0 14px 0 #000}
/*=====================================================
  contents of: jquery.treemenu.css
  =====================================================*/
/* For treemenu.js */

.treemenu li {list-style: none;}

.toggler {
    width: 1em;
    height: 1em;
    display: inline-block;
    cursor: default;
    font-size: 0.8em;
    text-align: center;
    padding: 0.1em;
    margin-left: -1.4em;
    margin-right: 0.6em;
    border: 0.1em solid transparent;
    border-radius: 50%;
}

li.tree-opened > .toggler:hover,
li.tree-closed > .toggler:hover {
    border-color: #aaa;
    cursor: pointer;
}

li.tree-empty > .toggler { color: #aaa; }
li.tree-empty > span.toggler:before { content: "\2212"; }
li.tree-closed > span.toggler:before { content: "+"; }
li.tree-opened > span.toggler:before { content: "\2212"; }

/*=====================================================
  contents of: ../easytree-skin/ui.easytree.css
  =====================================================*/
/*******************************************************************************
 * Tree container

 Lion colors:
	gray highlight bar: #D4D4D4
	blue highlight-bar and -border #3875D7


 */
.ui-helper-hidden {
	display: none;
}

.easytree-container
{
	white-space: nowrap;
}

.easytree-container:focus {
    outline: none;
}

.easytree-container ul:focus {
    outline: none;
}

ul.easytree-container li
{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	-moz-background-clip:border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background-attachment: scroll;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat-y;
	background-image: none;  /* no v-lines */

	margin:0;
	padding:1px 0 0 0;
}
/* Suppress lines for last child node */
ul.easytree-container li.easytree-lastsib
{
	background-image: none;
}
/* Suppress lines if level is fixed expanded (option minExpandLevel) */
ul.easytree-no-connector > li
{
	background-image: none;
}

/* Style, when control is disabled */
.ui-easytree-disabled ul.easytree-container
{
	opacity: 0.5;
/*	filter: alpha(opacity=50); /* Yields a css warning */
	background-color: silver;
}


/*******************************************************************************
 * Common icon definitions
 */
span.easytree-empty,
span.easytree-vline,
/*span.easytree-connector,*/
span.easytree-expander,
span.easytree-icon,
span.easytree-checkbox,
span.easytree-radio,
span.easytree-drag-helper-img,
#easytree-drop-marker
{
	width: 16px;
	height: 18px;
	display: inline-block; /* Required to make a span sizable */
	vertical-align: text-bottom;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url("../easytree-skin/icons.gif");
	background-position: 0 0;
}
/** Used by iconclass option */
span.easytree-custom-icon {
	display: inline-block;
}
/** Used by 'icon' node option: */
.easytree-container img
{
	width: 16px;
	height: 16px;
	margin-left: 3px;
	vertical-align: top;
	border-style: none;
}


/*******************************************************************************
 * Lines and connectors
 */
/* span.easytree-connector
{
	background-image: none;
}
 */
/*******************************************************************************
 * Expander icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: easytree-exp-
 * 1st character: 'e': expanded, 'c': collapsed, 'n': no children
 * 2nd character (optional): 'd': lazy (Delayed)
 * 3rd character (optional): 'l': Last sibling
 */

span.easytree-expander
{
	background-position: 0px -80px;
	cursor: pointer;
}
span.easytree-expander:hover { 	background-position: -16px -80px; }
.easytree-exp-n span.easytree-expander:hover /* Collapsed, not delayed, not last sibling */
{
	background-position: -16px -80px;
}
.easytree-exp-cl span.easytree-expander /* Collapsed, not delayed, last sibling */
{
}
.easytree-exp-cd span.easytree-expander /* Collapsed, delayed, not last sibling */
{
}
.easytree-exp-cdl span.easytree-expander /* Collapsed, delayed, last sibling */
{
}
.easytree-exp-e span.easytree-expander,  /* Expanded, not delayed, not last sibling */
.easytree-exp-ed span.easytree-expander,  /* Expanded, delayed, not last sibling */
.easytree-exp-el span.easytree-expander,  /* Expanded, not delayed, last sibling */
.easytree-exp-edl span.easytree-expander  /* Expanded, delayed, last sibling */
{
	background-position: -32px -80px;
}
.easytree-exp-e span.easytree-expander:hover,  /* Expanded, not delayed, not last sibling */
.easytree-exp-ed span.easytree-expander:hover,  /* Expanded, delayed, not last sibling */
.easytree-exp-el span.easytree-expander:hover,  /* Expanded, not delayed, last sibling */
.easytree-exp-edl span.easytree-expander:hover  /* Expanded, delayed, last sibling */
{
	background-position: -48px -80px;
}
.easytree-loading span.easytree-expander  /* 'Loading' status overrides all others */
{
	background-position: 0 0;
	background-image: url("../easytree-skin/loading.gif");
}

.easytree-exp-n span.easytree-expander, /* Connector instead of expander, if node has no children */
.easytree-exp-nl span.easytree-expander
{
	background-image: none;
	cursor: default;
}


/*******************************************************************************
 * Checkbox icon
 */
span.easytree-checkbox {
	margin-left: 3px;
	background-position: 0px -32px;
}
span.easytree-checkbox:hover { background-position: -16px -32px; }
.easytree-partsel span.easytree-checkbox { background-position: -64px -32px; }
.easytree-partsel span.easytree-checkbox:hover { background-position: -80px -32px; }
.easytree-selected span.easytree-checkbox { background-position: -32px -32px; }
.easytree-selected span.easytree-checkbox:hover { background-position: -48px -32px; }

/*******************************************************************************
 * Radiobutton icon
 */
.easytree-radio span.easytree-checkbox {
	margin-left: 3px;
	background-position: 0px -48px;
}
.easytree-radio span.easytree-checkbox:hover { background-position: -16px -48px; }
.easytree-radio .easytree-partsel span.easytree-checkbox { background-position: -64px -48px; }
.easytree-radio .easytree-partsel span.easytree-checkbox:hover { background-position: -80px -48px; }
.easytree-radio .easytree-selected span.easytree-checkbox { background-position: -32px -48px; }
.easytree-radio .easytree-selected span.easytree-checkbox:hover { background-position: -48px -48px; }

/*******************************************************************************
 * Node type icon
 * Note: IE6 doesn't correctly evaluate multiples class names,
 *		 so we create combined class names that can be used in the CSS.
 *
 * Prefix: easytree-ico-
 * 1st character: 'e': expanded, 'c': collapsed
 * 2nd character (optional): 'f': folder
 */
span.easytree-icon /* Default icon */
{
    display: none;
}
.easytree-ico-cf span.easytree-icon { background-position: 0px -16px; } /* Collapsed Folder */
.easytree-ico-ef span.easytree-icon { background-position: -64px -16px; } /* Expanded Folder */
.easytree-statusnode-wait span.easytree-icon { background-image: url("../easytree-skin/loading.gif"); } /* Status node icons */
.easytree-statusnode-error span.easytree-icon { background-position: 0px -112px; }

/*******************************************************************************
 * Node titles
 */
.easytree-title a {
    text-decoration: none;
    color: inherit;
}
span.easytree-focused .easytree-title {
	outline: 1px dotted black;
	color: white;
}
span.easytree-selected .easytree-title {
	font-style: italic;
}
.easytree-active {
	color: #FF8C0A;
}

/*******************************************************************************
 * 'table' extension
 */

/*
table.easytree-ext-table {
	border-collapse: collapse;
	width: 100%;
}
table.easytree-ext-table tbody tr:nth-child(even){
	background-color: #f4f4f8;
}
table.easytree-ext-table tbody tr td {
	border: 1px solid lightgray;
}
*/
table.easytree-ext-table {
	border-collapse: collapse;
}
table.easytree-ext-table tbody tr.easytree-focused {
	background-color: #99DEFD;
}
table.easytree-ext-table tbody tr.easytree-active {
	background-color: royalblue;
}
table.easytree-ext-table tbody tr.easytree-selected {
	background-color: #99FDDE;
}

/*******************************************************************************
 * 'columnview' extension
 */

/*
table.easytree-ext-columnview {
	border-collapse: collapse;
	width: 100%;
}
*/
table.easytree-ext-columnview td >ul
{
	padding: 0;
}
table.easytree-ext-columnview td >ul li
{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	-moz-background-clip:border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background-attachment: scroll;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat-y;
	background-image: none;  /* no v-lines */

	margin: 0;
	padding: 1px 0 0 0;
}
/*
table.easytree-ext-columnview tbody tr[0] {
	height: 200px;
}
*/
table.easytree-ext-columnview tbody tr td {
	border: 1px solid gray;
	vertical-align: top;
	overflow: auto;
}
table.easytree-ext-columnview span.easytree-node {
	display: inline-block;
	position: relative; /* allow positioning of embedded spans*/
	width: 100%;
}
table.easytree-ext-columnview span.easytree-node a{
	border: 1px solid transparent;
	background-color: transparent;
}
table.easytree-ext-columnview span.easytree-node.easytree-expanded {
	background-color: #ccc;
}
table.easytree-ext-columnview span.easytree-node.easytree-active {
	background-color: royalblue;
}
table.easytree-ext-columnview span.easytree-cv-right {
	background-position: 0px -80px;
	position: absolute;
	right: 3px;
}


/*******************************************************************************
 * 'filter' extension
 */
.easytree-ext-filter span.easytree-node .easytree-title {
	color: silver;
	font-weight: lighter;
}
.easytree-ext-filter span.easytree-node.easytree-submatch .easytree-title {
	color: black;
	font-weight: normal;
}
.easytree-ext-filter span.easytree-node.easytree-match .easytree-title {
	color: black;
	font-weight: bold;
}


/*******************************************************************************
 * Drag'n'drop support
 */

/*** Helper object ************************************************************/
div.easytree-drag-helper
{
    display:none; 
    position: absolute; 
    z-index: 1000; 
    height:20px;
    width:20px;
}
div.easytree-drag-helper a
{
	border: 1px solid gray;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	opacity: 0.8;
}
span.easytree-drag-helper-img
{
	/*
	position: relative;
	left: -16px;
	*/
}
div.easytree-drag-helper /*.easytree-drop-accept*/
{
/*    border-color: green;
	background-color: red;*/
}
div.easytree-drop-accept span.easytree-drag-helper-img
{
	background-position: -32px -112px;
}
div.easytree-drag-helper.easytree-drop-reject
{
	border-color: red;
}
div.easytree-drop-reject span.easytree-drag-helper-img
{
	background-position: -16px -112px;
}

/*** Drop marker icon *********************************************************/

#easytree-drop-marker
{
	width: 24px;
	position: absolute;
	background-position: 0 -128px;
	margin: 0;
}
#easytree-drop-marker.easytree-drop-after,
#easytree-drop-marker.easytree-drop-before
{
	width:64px;
	background-position: 0 -144px;
}
#easytree-drop-marker.easytree-drop-copy
{
	background-position: -64px -128px;
}
#easytree-drop-marker.easytree-drop-move
{
	background-position: -64px -128px;
}

/*** Source node while dragging ***********************************************/

span.easytree-drag-source
{
	/* border: 1px dotted gray; */
	background-color: #e0e0e0;
}
span.easytree-drag-source a
{
	color: gray;
}

/*** Target node while dragging cursor is over it *****************************/

span.easytree-drop-target
{
	/*border: 1px solid gray;*/
}
span.easytree-drop-target a
{
}
span.easytree-drop-target.easytree-drop-accept a
{
	/*border: 1px solid green;*/
	background-color: #3169C6 !important;
	color: white !important; /* @ IE6 */
	text-decoration: none;
}
span.easytree-drop-target.easytree-drop-reject
{
	/*border: 1px solid red;*/
}
span.easytree-drop-target.easytree-drop-after a
{
}

